


/* Add the animate class to trigger the animations */
.glass1.animate {
  animation: easeInLeft 1s forwards;
}

.glass2.animate {
  animation: fadeIn 1s forwards;
}

.glass3.animate {
  animation: easeInRight 1s forwards;
}

/* The rest of your existing CSS */
.head {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: 
      url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.head {
  text-align: center;
  font-size: 24px;
}

.glass-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7vh;
}

.glass1, .glass2, .glass3 {
  background-color: rgb(8, 59, 79);
  width: 45vh;
  height: 50vh;
  border-radius: 10%;
  margin-left: 50px;
  margin-top: 3vh;
}

/* animation */
.glass1, .glass2, .glass3 {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

@keyframes easeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes easeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
